.savedListItems {
    display: inline-block;
    top: 70px;
    right: 60px;
    border-style: solid;
    padding: 10px;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}