<div class="search-container">
    <div class="field">
        <label>Recipes:
                  <input class="input is-medium" #recipeSearch value="pizza" />
                </label>
        <!-- (click) passes input value to add() and then clears the input -->

    </div>
</div>


<nav class="subnav">
    <h5 class="subtitle is-5">Types of recipes</h5>
    <ul class="nav">
        <li *ngFor="let filter of mealTypeFilters" class="nav-item">
            <input type="checkbox" name="meals" [checked]="filter.enabled" (change)="filter.enabled = !filter.enabled" />{{filter.name}}
        </li>
    </ul>
</nav>

<nav class="subnav">
    <h5 class="subtitle is-5">Exclude recipes of allergen:</h5>
    <ul class="nav">
        <li *ngFor="let filter of allergenTypeFilters" class="nav-item">
            <input type="checkbox" name="allergen" [checked]="filter.enabled" (change)="filter.enabled = !filter.enabled" />{{filter.name}}
        </li>
    </ul>
</nav>

<nav class="subnav">
    <h5 class="subtitle is-5">Cooking time</h5>
    <ul class="nav">
        <li *ngFor="let filter of cookingTypeFilters" class="nav-item">
            <input type="checkbox" name="cooking-time" [checked]="filter.enabled" (change)="filter.enabled = !filter.enabled" />{{filter.name}}
        </li>
    </ul>
</nav>
<div class="control">
    <button class="button is-primary" (click)="search(recipeSearch.value); recipeSearch.value=''">
            Search
        </button>
</div>




<ul class="grid" *ngIf="recipes else loading">
    <li *ngFor="let recipe of recipes of recipes">

        <div class="card" routerLink="/recipe/{{recipe.id}}">
            <div class="card-img">
                <img [src]="recipe.imageUrl">
            </div>
            <div class="card-block">
                <h4 class="card-title">{{recipe.recipeName}}</h4>
                <p class="card-text">
                </p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-icon btn-primary" (click)="SaveRecipe(recipe.id)">
            <clr-icon shape="add-text"></clr-icon>
            Save recipe
          </button>
            </div>
        </div>
    </li>
    <ng-template #loading>Loading recipes...</ng-template>
</ul>