<div class="search-container">
    <div>
        <label>Recipes:
                  <input #recipeSearch value="pizza" />
                </label>
        <!-- (click) passes input value to add() and then clears the input -->

    </div>
</div>


<nav class="subnav">
    <p>Types of recipes</p>
    <ul class="nav">
        <li *ngFor="let filter of mealTypeFilters" class="nav-item">
            <input type="checkbox" name="meals" [checked]="filter.enabled" (change)="filter.enabled = !filter.enabled" />{{filter.name}}
        </li>
    </ul>
</nav>

<nav class="subnav">
    <p>Exclude recipes of allergen:</p>
    <ul class="nav">
        <li *ngFor="let filter of allergenTypeFilters" class="nav-item">
            <input type="checkbox" name="allergen" [checked]="filter.enabled" (change)="filter.enabled = !filter.enabled" />{{filter.name}}
        </li>
    </ul>
</nav>

<nav class="subnav">
    <p>Cooking time</p>
    <ul class="nav">
        <li *ngFor="let filter of cookingTypeFilters" class="nav-item">
            <input type="checkbox" name="cooking-time" [checked]="filter.enabled" (change)="filter.enabled = !filter.enabled" />{{filter.name}}
        </li>
    </ul>
</nav>
<div>
    <button (click)="search(recipeSearch.value); recipeSearch.value=''">
            Search
        </button>
</div>



<!-- <p>Recipes results</p>
<ul class="recipe-result">
    <li *ngFor="let recipe of recipes">
        <a routerLink="/detail/{{recipe.id}}">
            <img [src]="recipe.hostedMediumUrl">
            <p>{{recipe.recipeName}}</p>
        </a>
        <button (click)="SaveRecipe(recipe.id)">Save recipe</button>
    </li>
</ul>
 -->

<ul class="grid" *ngIf="recipes else loading">
    <li *ngFor="let recipe of recipes of recipes">
        <div class="card">
            <div class="card-img">
                <img [src]="recipe.hostedMediumUrl">
            </div>
            <div class="card-block">
                <h4 class="card-title">{{recipe.recipeName}}</h4>
                <p class="card-text">
                </p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-icon btn-primary" (click)="SaveRecipe(recipe.id)">
            <clr-icon shape="add-text"></clr-icon>
            Save recipe
          </button>
            </div>
        </div>
    </li>
    <ng-template #loading>Loading recipes...</ng-template>
</ul>

<div class="control">
    <button class="button is-primary">Submit</button>
</div>