.nav li,
.control {
    list-style-type: none;
    display: inline-block;
    padding: 7px;
}

.field {
    display: inline-block;
    width: 40%;
    padding-bottom: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.searchContainer {
    background-color: white;
    display: inline-block;
    margin-top: 10px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 20px;
    opacity: 0.8;
}

.card {
    margin: auto;
    border-style: solid;
    display: block;
    padding: 20px;
    width: 15%;
    background: none !important;
    color: white;
}

h5 {
    padding-top: 20px;
    color: white;
}

.subtitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.inputCheckbox {
    margin-right: 8px;
}